body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 450px;
    height: 300px;
    margin: 50px auto ;
}
img{
    width: 450px;
    height: 300px;
}
.custom-cursor{
    /* cursor: pointer; */
    cursor:url("data:image/svg+xml,%3Csvg id='Capa_1' enable-background='new 0 0 512 512' height='50' viewBox='0 0 512 512' width='50' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cg%3E%3Cpath d='m65.941 256c0-104.799 85.26-190.059 190.059-190.059l15-10.785-15-19.215c-58.78 0-114.041 22.89-155.605 64.453-41.564 41.565-64.454 96.826-64.454 155.606s22.89 114.041 64.453 155.605c41.564 41.563 96.825 64.453 155.605 64.453l15-11.975-15-18.025c-104.798.001-190.058-85.259-190.058-190.058z' fill='%23fb42aa'/%3E%3Cpath d='m411.605 100.395c-41.564-41.564-96.825-64.454-155.605-64.454v30c104.799 0 190.059 85.26 190.059 190.059s-85.26 190.059-190.059 190.059v30c58.78 0 114.041-22.89 155.605-64.453 41.563-41.564 64.453-96.825 64.453-155.605s-22.889-114.042-64.453-155.606z' fill='%23d42686'/%3E%3Cpath d='m241 190.214v50.786h-50.786v30h50.786v50.786h15l7.837-63.646-7.837-67.926z' fill='%23f5e233'/%3E%3Cpath d='m271 271h50.786v-30h-50.786v-50.786h-15v131.572h15z' fill='%23e7d500'/%3E%3C/g%3E%3Cg fill='%235ed8d3'%3E%3Cpath d='m241 0v110.313h15l7.5-59.733-7.5-50.58z'/%3E%3Cpath d='m241 512h15l7.837-46.595-7.837-63.717h-15z'/%3E%3C/g%3E%3Cpath d='m256 0h15v110.313h-15z' fill='%233ab8b9'/%3E%3Cpath d='m256 401.688h15v110.313h-15z' fill='%233ab8b9'/%3E%3Cg%3E%3Cpath d='m401.688 241h110.313v30h-110.313z' fill='%233ab8b9'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m0 241h110.313v30h-110.313z' fill='%235ed8d3'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 
      32 32 ,pointer ;
}